*Aqui começarei a personalizar o meu site com CSS.
Nesse primeiro momento eu trabalhei em pintar cada área divida pra ficar melhor a visualização de como ta ficando
de onde mais eu preciso trabalhar e arrumar, tanto no CSS como no HTML.
Trabalhei melhor com a questão das Classes.
-------------------------------------

o2edit no css- o4edit no código geral:
melhorei o CSS quanto a posição do HTML na visualização.
Troquei cores dos backgrounds de alguns itens.
Mudei alguns atributos das classes e exclui algumas onde eu pude mudar e adaptar melhor o código.
-------------------------------------
o3edit css - o5° edit geral:

Nessa edição eu comecei a trabalhar com as imagens que estão no conteúdo.
To tentando fazer com que elas fiquem só no conteudo de cada um e não tome espaço do outro tema.

o4 edit css - o6° edit geral:
Nesse edit eu finalmente corrigi o erro que tava dando no footer. Era uma div q eu não fechei no HTML.
Tirei a imagem e com isso eu usei o CSS pra melhorar a o nome do site, JGamers.
Adicinei a fonte para o HTML no CSS colocando no body tmb essa font.
Retirei algumas classes que não usaria.
Retirei os comentários que eram do código de uma aula que eu havia reaproveitado nesse meu código.

-------------------------------------


body{
	font-family: 'Roboto', sans-serif;
	color: #333;
}
nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4F4F4F; 
}
nav ul{
	display: flex;
	padding: 0;
	margin: 0;
	width: 70%;
	list-style: none;
}
nav ul li{
	display: flex;
flex-direction: row;
width: 100%;
height: 50px;
line-height: 50px;
text-align: center;
}
nav ul li a{
	width: 100%;
text-decoration: none;
color: #FFFFFF;
}
nav ul li a:hover{
background-color: #008DA9;
color: #000000;

}
.titulo{
	color: #F8F8FF;
	letter-spacing: -2px;
	background-color: #63B8FF;
	display: flex;
	padding-top: 15px;
	padding-left: 240px;
	padding-right:240px;
}
.geral{
	display: flex;
	background-color: #E8E8E8;
	padding-top: 15px;
	padding-left: 240px;
	padding-right:240px;
}
footer{
	background-color: #6CA6CD;
	color: #ebebeb;
	padding: 20px 0;
	text-align: center;
	font-weight: 100;
}



